*

!source/
!.gitignore
!qdc
!.github/workflows
!dub.json
!dscanner.ini

!*/
!*.d
!*.md
!*.sh
!*.yml

.dub
docs.json
__dummy.html
docs/
qdc.so
qdc.dylib
qdc.dll
qdc.a
qdc.lib
qdc-test-*
*.exe
*.o
*.obj
*.lst

qbe/
dmd-*/